{
    "presets": [
        ["latest", {
            "es2015": {
                "modules": false
            }
        }]
    ],
    "plugins": [
        "external-helpers",
        "transform-es3-property-literals",
        "transform-es3-member-expression-literals"
    ]
}
